@font-face {
  font-family: "iconfont"; /* Project id 2651363 */
  src: url('//at.alicdn.com/t/font_2651363_j8w8vfh7oga.woff2?t=1625460252391') format('woff2'),
       url('//at.alicdn.com/t/font_2651363_j8w8vfh7oga.woff?t=1625460252391') format('woff'),
       url('//at.alicdn.com/t/font_2651363_j8w8vfh7oga.ttf?t=1625460252391') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-fill:before {
  content: "\e62a"; 
}
